<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Dojo Weather Forcast</h1>
  <div style="display: inline-block;">
    <a [routerLink]="['/seattle']">Seattle</a><p>  |  </p>
    <a [routerLink]="['/sanjose']">San Jose</a><p>  |  </p>
    <a [routerLink]="['/burbank']">Burbank</a><p>  |  </p>
    <a [routerLink]="['/dallas']">Dallas</a><p>  |  </p>
    <a [routerLink]="['/washington']">Washington</a><p>  |  </p>
    <a [routerLink]="['/chicago']">Chicago</a>
  </div>
</div>

<router-outlet></router-outlet>

